# docker-compose.yml

version: '3'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: autocompany_db
      POSTGRES_USER: autocompany_db_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
